<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <img src="img/logo.png" alt="BLSP Logo" class="img-fluid" style="height: 60px;">
    </a>

    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <!-- <a href="/" class="nav-item nav-link <%= currentRoute === '/' ? 'active' : '' %>">Home</a> -->
            <div class="nav-item dropdown">
                <a href="/" class="nav-link dropdown-toggle <%= 
                    ['/','/home/mission','/home/vision','/home/ourvalues'].includes(currentRoute) 
                    ? 'active' : '' %>" data-bs-toggle="dropdown">
                    Home</a>
                <div class="dropdown-menu bg-light m-0">
                    <a href="/#overview" class="dropdown-item">Overview</a>
                    <a href="/#mission" class="dropdown-item">Our Mission</a>
                    <a href="/#vision" class="dropdown-item">Our Vision</a>
                    <a href="/#ourvalues" class="dropdown-item">Our Values</a>

                </div>
            </div>
            <!-- <a href="/about" class="nav-item nav-link <%= currentRoute === '/about' ? 'active' : '' %>">About</a> -->
            <div class="nav-item dropdown">
                <a href="/about" class="nav-link dropdown-toggle <%= 
                    ['/about','/about#overview','/about#ourstory','/about#leadership'].includes(currentRoute) 
                    ? 'active' : '' %>" data-bs-toggle="dropdown">
                    About</a>
                <div class="dropdown-menu bg-light m-0">
                    <a href="/about#overview" class="dropdown-item">Overview</a>
                    <a href="/about#ourstory" class="dropdown-item">Our Story</a>
                    <a href="/about#leadership" class="dropdown-item">Leadership</a>
                    <a href="/about#partnership" class="dropdown-item">Partnership</a>

                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="/services"
                    class=" nav-link dropdown-toggle <%= currentRoute === '/services' ? 'active' : '' %>">Initiatives</a>

                <div class="dropdown-menu bg-light m-0">
                    <a href="/services#whatwedo" class="dropdown-item">What We Do</a>
                    <a href="/services#priorities" class="dropdown-item">Our Priorities</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="/projects"
                    class="dropdown-toggle nav-link <%= currentRoute === '/projects' ? 'active' : '' %>">Projects</a>
                <div class="dropdown-menu bg-light m-0">
                    <a href="/projects#ongoing" class="dropdown-item">Ongoing Projects</a>
                    <a href="/projects#pastprojects" class="dropdown-item">Our Past Projects</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="/feature" class="nav-link dropdown-toggle <%= 
                    ['/feature'].includes(currentRoute) 
                    ? 'active' : '' %>" data-bs-toggle="dropdown">
                    Our Impact</a>
                <div class="dropdown-menu bg-light m-0">
                    <a href="/feature#overview" class="dropdown-item">Overview</a>
                    <a href="/feature#reports" class="dropdown-item">Reports</a>
                    <a href="/feature#stories" class="dropdown-item">Impact Stories</a>
                    <a href="/feature#measuring" class="dropdown-item">Measuring Impact</a>
                    <a href="/feature#socialimpact" class="dropdown-item">Social Impact</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="/quote" class="nav-link dropdown-toggle <%= 
                    ['/quote'].includes(currentRoute) 
                    ? 'active' : '' %>" data-bs-toggle="dropdown">
                    Get Involved</a>
                <div class="dropdown-menu bg-light m-0">
                    <a href="/quote#donate" class="dropdown-item">Donate</a>
                    <a href="/quote#sponsorafarmer" class="dropdown-item">Sponsor a farmer</a>
                    <a href="/quote#partnerwithus" class="dropdown-item">partner With us</a>
                    <a href="/quote#jobs" class="dropdown-item">Jobs</a>
                    <a href="/quote#faqs" class="dropdown-item">FAQS</a>
                </div>
            </div>
            <a href="/contact" class="nav-item nav-link">Contact</a>
        </div>
        <a href="" class="btn btn-primary py-4 px-lg-4 rounded-0 d-none d-lg-block">Start Analysing<i
                class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>